#### 1. <b>Bining</b>: Phân khoản, phân đoạn dữ liệu (pd.qcut và pd.cut)

- pd.qcut() được sử dụng để chia dữ liệu thành các nhóm có kích thước bằng nhau dựa trên phân vị.
- pd.cut(): Dùng để phân nhóm dữ liệu dựa trên giá trị cụ thể.

In [34]:
import pandas as pd

df = pd.DataFrame({'Math': [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],
                   'Eng': [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8]})

In [35]:
#  bin1: Chia dữ liệu trong cột "Math" thành 5 phân vị đều nhau.
df['bin1'] = pd.qcut(df['Math'], q=5)
#  bin2: Chia dữ liệu trong cột "Math" thành các khoảng 0.2, 0.4, 0.6, 0.8, 1.


df['bin2'] = pd.qcut(df['Math'], q=[0, .2, .4, .6, .8, 1])
#  bin3: Chia dữ liệu tương tự bin2, nhưng gán nhãn "A", "B", "C", "D", "E" cho từng phân vị.

df['bin3'] = pd.qcut(df['Math'], q=[0, .2, .4, .6, .8, 1], labels=['A', 'B', 'C', 'D', 'E'])
#   bin4: Chia cột "Eng" thành các nhóm giá trị: [0, 5), [5, 8), và từ 8 trở lên (∞), với nhãn là "Bad", "OK", "Good".

df['bin4'] = pd.cut(df['Eng'], bins=[0, 5, 8, float('Inf')], labels=['Bad', 'OK', 'Good'])

In [36]:
import pandas as pd

df = pd.DataFrame({'Math': [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],
                   'Eng': [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8]})

df

    Math  Eng
0      4    2
1      4    5
2      7    4
3      8    7
4     12    7
5     13    8
6     15    5
7     18    4
8     22    5
9     23   11
10    23   13
11    25    8

In [37]:
df['bin1'] = pd.qcut(df['Math'], q=5)
# chia lam 5 khoang co so luong phan tung trong tung khoan xap xi bang nhau
df['bin1']

0     (3.999, 7.2]
1     (3.999, 7.2]
2     (3.999, 7.2]
3      (7.2, 12.4]
4      (7.2, 12.4]
5     (12.4, 16.8]
6     (12.4, 16.8]
7     (16.8, 22.8]
8     (16.8, 22.8]
9     (22.8, 25.0]
10    (22.8, 25.0]
11    (22.8, 25.0]
Name: bin1, dtype: category
Categories (5, interval[float64, right]): [(3.999, 7.2] < (7.2, 12.4] < (12.4, 16.8] < (16.8, 22.8] < (22.8, 25.0]]

In [38]:
df['bin1'].value_counts()

(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: bin1, dtype: int64

#### 2. Phân khoảng theo phân vị

In [39]:
df['bin2'] = pd.qcut(df['Math'], q=[0, .2, .4, .6, .8, 1]) # moi cham  la phan tram , vd: .2 = 20%
df['bin2'].value_counts()

(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: bin2, dtype: int64

In [40]:
df['bin3'] = pd.qcut(df['Math'], q=[0, .2, .4, .6, .8, 1], labels=['A', 'B', 'C', 'D', 'E'])
print(df['bin3'].value_counts())

A    3
E    3
B    2
C    2
D    2
Name: bin3, dtype: int64

#### Phân khoảng theo giá trị

In [41]:
#  Sinh vien tu hien thi so luong phan tu trong tung bin4
df['bin4'] = pd.cut(df['Eng'], bins=[0, 5, 11, float('Inf')], labels=['Bad', 'OK', 'Good'])

print(df['bin4'].value_counts())

Bad     6
OK      5
Good    1
Name: bin4, dtype: int64

- pd.qcut: Chia dữ liệu thành các nhóm dựa trên phân vị. df['bin1'] chia dữ liệu thành 5 nhóm phân vị bằng nhau.
- pd.cut: Chia dữ liệu thành các nhóm dựa trên các cắt điểm xác định. df['bin4'] chia dữ liệu theo các khoảng giá trị cụ thể.

#### Encoding

In [42]:
import pandas as pd

gdp = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(gdp, countries)), columns=['GDP', 'Countries'])
df

   GDP Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

#### Label: kỹ thuật đánh nhãn

In [43]:

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['labelCountries'] = label_encoder.fit_transform(df['Countries'])
df

   GDP Countries  labelCountries
0   11     Spain               2
1   22    France               0
2   33     Spain               2
3   44   Germany               1
4   55    France               0

#### One bot: rất hay dùng

In [44]:
# one bot
dfOneHotEncoding = pd.get_dummies(df.Countries, prefix='Country')
print(dfOneHotEncoding.head())

   Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0

#### dfOneHotEncoding: là sử dụng khi ko có sự chênh lệch , vd: spain,  france, vietnam

In [45]:

df = pd.concat([df, dfOneHotEncoding], axis=1)
df

,GDP,Countries,labelCountries,Country_France,Country_Germany,Country_Spain
0,11,Spain,2,0,0,1
1,22,France,0,1,0,0
2,33,Spain,2,0,0,1
3,44,Germany,1,0,1,0
4,55,France,0,1,0,0

In [46]:
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(df.Countries)
print(y)

[[0 0 1]
 [1 0 0]
 [0 0 1]
 [0 1 0]
 [1 0 0]]

#### Mô hình học máy

In [47]:

from sklearn.preprocessing import OneHotEncoder
y = OneHotEncoder().fit_transform(df[['Countries']]).toarray()
print(y)

[[0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

- LabelEncoder: Mã hóa các giá trị phân loại thành số nguyên.
- pd.get_dummies: Mã hóa biến phân loại thành dạng one-hot.
- LabelBinarizer và OneHotEncoder: Các phương pháp khác để mã hóa biến phân loại thành dạng nhị phân (one-hot).

# 3. Bien doi ham so 
- Normalization 
- Standization
- Function

In [48]:
import pandas as pd

year = [2010,2011,2012,2013,2014,2015]
salaryHCM = [8.5,9.0,10.5,12.0,11.0,10.0]
salaryLA = [5.5,6.0,6.0,5.5,6.0,5.0]

df = pd.DataFrame(list(zip(year, salaryHCM, salaryLA)), columns=['Year', 'HCM', 'LA'])

df

   Year   HCM   LA
0  2010   8.5  5.5
1  2011   9.0  6.0
2  2012  10.5  6.0
3  2013  12.0  5.5
4  2014  11.0  6.0
5  2015  10.0  5.0

#### 1. MaxAbsoulute

In [49]:
# x_moi = x / Max (|x|)
# Phuong phap scale 
# LA: 5.5 6 6 5.5 6.0 5.0 --> |lon_nhat| =6  
# xScale

In [50]:
max_la = df['LA'].abs().max()
df['macLA'] = df['LA'] / max_la
df

   Year   HCM   LA     macLA
0  2010   8.5  5.5  0.916667
1  2011   9.0  6.0  1.000000
2  2012  10.5  6.0  1.000000
3  2013  12.0  5.5  0.916667
4  2014  11.0  6.0  1.000000
5  2015  10.0  5.0  0.833333

In [51]:
max_la = df['HCM'].abs().max()
df['macHCM'] = df['HCM'] / max_la
df

   Year   HCM   LA     macLA    macHCM
0  2010   8.5  5.5  0.916667  0.708333
1  2011   9.0  6.0  1.000000  0.750000
2  2012  10.5  6.0  1.000000  0.875000
3  2013  12.0  5.5  0.916667  1.000000
4  2014  11.0  6.0  1.000000  0.916667
5  2015  10.0  5.0  0.833333  0.833333

In [52]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaled = scaler.fit_transform(df[['HCM', 'LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM', 'LA']].columns)
print(scaled_df)

        HCM        LA
0  0.708333  0.916667
1  0.750000  1.000000
2  0.875000  1.000000
3  1.000000  0.916667
4  0.916667  1.000000
5  0.833333  0.833333

In [53]:
vSc = scaler.transform([[4.5, 5.75]])
print(vSc)

[[0.375      0.95833333]]

c:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MaxAbsScaler was fitted with feature names
  warnings.warn(

In [54]:

vR = scaler.inverse_transform([[0.5, 0.8]])
print(vR)

[[6.  4.8]]

#### Min_max_scaler
#### x_Neww = xold -min
####           -----------
####            max-min

In [55]:
min_la = df['LA'].min()
max_la = df['LA'].max()
df['mmcLA'] = (df['LA'] - min_la) / (max_la - min_la)
df

   Year   HCM   LA     macLA    macHCM  mmcLA
0  2010   8.5  5.5  0.916667  0.708333    0.5
1  2011   9.0  6.0  1.000000  0.750000    1.0
2  2012  10.5  6.0  1.000000  0.875000    1.0
3  2013  12.0  5.5  0.916667  1.000000    0.5
4  2014  11.0  6.0  1.000000  0.916667    1.0
5  2015  10.0  5.0  0.833333  0.833333    0.0

#### Vi du:

In [56]:
# HCM luong 10%, LA: 5.5%
# thi qua scaler bang bao nhieeu 
import pandas as pd

gdp = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']
df = pd.DataFrame(list(zip(gdp, countries)), columns=['GDP', 'Countries'])

In [57]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['labelCountries'] = label_encoder.fit_transform(df['Countries'])

dfOneHotEncoding = pd.get_dummies(df.Countries, prefix='Country')
print(dfOneHotEncoding.head())

   Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0

In [58]:
df = pd.concat([df, dfOneHotEncoding], axis=1)
df

,GDP,Countries,labelCountries,Country_France,Country_Germany,Country_Spain
0,11,Spain,2,0,0,1
1,22,France,0,1,0,0
2,33,Spain,2,0,0,1
3,44,Germany,1,0,1,0
4,55,France,0,1,0,0

In [59]:
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(df.Countries)
print(y)

[[0 0 1]
 [1 0 0]
 [0 0 1]
 [0 1 0]
 [1 0 0]]

In [60]:
from sklearn.preprocessing import OneHotEncoder
y = OneHotEncoder().fit_transform(df[['Countries']]).toarray()
print(y)

[[0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

# 3. Chuẩn hóa dữ liệu

In [61]:
import pandas as pd

year = [2010,2011,2012,2013,2014,2015]
salaryHCM = [8.5,9.0,10.5,12.0,11.0,10.0]
salaryLA = [5.5,6.0,6.0,5.5,6.0,5.0]

df = pd.DataFrame(list(zip(year, salaryHCM, salaryLA)), columns=['Year', 'HCM', 'LA'])

max_la = df['LA'].abs().max()
df['macLA'] = df['LA'] / max_la

from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaled = scaler.fit_transform(df[['HCM', 'LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM', 'LA']].columns)
print(scaled_df)

vSc = scaler.transform([[4.5, 5.75]])
print(vSc)

vR = scaler.inverse_transform([[0.5, 0.8]])
print(vR)

min_la = df['LA'].min()
max_la = df['LA'].max()
df['mmcLA'] = (df['LA'] - min_la) / (max_la - min_la)

        HCM        LA
0  0.708333  0.916667
1  0.750000  1.000000
2  0.875000  1.000000
3  1.000000  0.916667
4  0.916667  1.000000
5  0.833333  0.833333
[[0.375      0.95833333]]
[[6.  4.8]]

c:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but MaxAbsScaler was fitted with feature names
  warnings.warn(

In [62]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['HCM', 'LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM', 'LA']].columns)
print(scaled_df)

        HCM   LA
0  0.000000  0.5
1  0.142857  1.0
2  0.571429  1.0
3  1.000000  0.5
4  0.714286  1.0
5  0.428571  0.0

# 4. Chuẩn hóa theo chuẩn Z
z_core = (x - u)/o

In [63]:

mean_la = df['LA'].mean()
std_la = df['LA'].std()
df['zLA'] = (df['LA'] - mean_la) / std_la
df

   Year   HCM   LA     macLA  mmcLA       zLA
0  2010   8.5  5.5  0.916667    0.5 -0.408248
1  2011   9.0  6.0  1.000000    1.0  0.816497
2  2012  10.5  6.0  1.000000    1.0  0.816497
3  2013  12.0  5.5  0.916667    0.5 -0.408248
4  2014  11.0  6.0  1.000000    1.0  0.816497
5  2015  10.0  5.0  0.833333    0.0 -1.632993

In [64]:

mean_la = df['HCM'].mean()
std_la = df['HCM'].std()
df['zHCM'] = (df['HCM'] - mean_la) / std_la
df

   Year   HCM   LA     macLA  mmcLA       zLA      zHCM
0  2010   8.5  5.5  0.916667    0.5 -0.408248 -1.290994
1  2011   9.0  6.0  1.000000    1.0  0.816497 -0.903696
2  2012  10.5  6.0  1.000000    1.0  0.816497  0.258199
3  2013  12.0  5.5  0.916667    0.5 -0.408248  1.420094
4  2014  11.0  6.0  1.000000    1.0  0.816497  0.645497
5  2015  10.0  5.0  0.833333    0.0 -1.632993 -0.129099

In [65]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(df[['HCM', 'LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM', 'LA']].columns)
print(scaled_df)

        HCM        LA
0 -1.414214 -0.447214
1 -0.989949  0.894427
2  0.282843  0.894427
3  1.555635 -0.447214
4  0.707107  0.894427
5 -0.141421 -1.788854

In [66]:
# Hãy dùng  z score để đưa ra kết luận 
#  Nếu một người có thu nhập 15 tr
#  Ở HCM, Một người ở LA thu nhập 12tr
#  thoải mái hơn
sV = scaler.transform([[15, 12]]) 
sV

c:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[ 4.10121933, 16.99411663]])

# 4. Function

In [67]:
def funcX(x):
    return x*x + 1

df['TransformX'] = funcX(df[["LA"]])

df

   Year   HCM   LA     macLA  mmcLA       zLA      zHCM  TransformX
0  2010   8.5  5.5  0.916667    0.5 -0.408248 -1.290994       31.25
1  2011   9.0  6.0  1.000000    1.0  0.816497 -0.903696       37.00
2  2012  10.5  6.0  1.000000    1.0  0.816497  0.258199       37.00
3  2013  12.0  5.5  0.916667    0.5 -0.408248  1.420094       31.25
4  2014  11.0  6.0  1.000000    1.0  0.816497  0.645497       37.00
5  2015  10.0  5.0  0.833333    0.0 -1.632993 -0.129099       26.00